<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyss">

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".controller.SyAddMeeting"
            android:label="Add Meeting" />
        <activity
            android:name=".controller.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.FyAddUserActivity"
            android:label="Register" />
        <activity
            android:name=".controller.SyProfileActivity"
            android:label="Profile" />
        <activity android:name=".controller.SyDashboardActivity" />
        <activity android:name=".controller.FyDashboardActivity" />
        <activity
            android:name=".controller.SyMeetingPageActivity"
            android:label="Meeting Page" />
        <activity android:name=".controller.AddUserActivity" />
        <activity android:name=".controller.SyAddPostActivity">

        </activity>
        <activity android:name=".controller.FyProfileActivity" />
        <activity android:name=".controller.SyEditMeetingActivity" />
        <activity android:name=".controller.SyEditProfileActivity" />
        <activity android:name=".controller.FyEditProfileActivity" />
        <activity android:name=".controller.FyAttendance" />
        <activity android:name=".controller.SyAttendance">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_home_icon_silhouette" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>